/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: url(/css3/font/NanumGothic-Regular.eot);
    src: url(/css3/font/NanumGothic-Regular.woff2) format('woff2'),
    url(/css3/font/NanumGothic-Regular.woff) format('woff'),
    url(/css3/font/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    src: url(/css3/font/NanumGothic-Bold.eot);
    src: url(/css3/font/NanumGothic-Bold.woff2) format('woff2'),
    url(/css3/font/NanumGothic-Bold.woff) format('woff'),
    url(/css3/font/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 800;
    src: url(/css3/font/NanumGothic-ExtraBold.eot);
    src: url(/css3/font/NanumGothic-ExtraBold.woff2) format('woff2'),
    url(/css3/font/NanumGothic-ExtraBold.woff) format('woff'),
    url(/css3/font/NanumGothic-ExtraBold.ttf) format('truetype');
}

/* 어도비 본고딕 */
@font-face {
    font-family: 'SourceHanSansKR';
    font-style: normal;
    font-weight: 100;
    src: url('../온오프믹스 __ 모임문화 플랫폼_files/SourceHanSansKR-ExtraLight.otf');
}

@font-face {
    font-family: 'SourceHanSansKR';
    font-style: normal;
    font-weight: 400;
    src: url(/css3/font/SourceHanSansKR-Normal.otf);
}

@font-face {
    font-family: 'SourceHanSansKR';
    font-style: normal;
    font-weight: 800;
    src: url(/css3/font/SourceHanSansKR-Bold.otf);
}

@font-face {
    font-family: 'SourceHanSansKR';
    font-style: normal;
    font-weight: 500;
    src: url(/css3/font/SourceHanSansKR-Medium.otf);
}